target
build
.gradle
.classpath
.project
.settings
.env
/.target
bin/
/logs/**
/conf/application.user.*.conf

.DS_Store
.sass-cache
**\.DS_Store
.idea
.idea_modules
*.iml
*.log

*.pyc
*.caffemodel
*.npy